<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHelloWorld" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61943/MyHelloWorld.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IHelloWorld" contract="MyHelloWorldService.IHelloWorld"
                name="BasicHttpBinding_IHelloWorld" />
        </client>
    </system.serviceModel>
</configuration>